body { 
  font-size: 14px;   
}
table {
  font-size: 14px; 
}
.btnButton4font,
.btnButton6font,
.btnButton8font,
.btnButton10font {
  font-size: 14px; 
  line-height: 34px;
}

.Pagebar .page #pager a {
   font-size: 14px; 
}
input,textarea,button{
  font-size: 14px;
}
.selectlist option{
  font-size: 14px;
}
.x-form-item, .x-form-field{
  font-size: 14px;
}
input.inputText,.inputText:hover{
  font-size: 14px;
}
input.inputTextPrompt,input.inputTextPrompt:hover{
  font-size: 14px;
}
 
.Wdate.whir_datebox{
  font-size: 13px;
}
.ztree *{
  font-size: 14px;
}
.x-form-item,.x-form-field{
  font-size: 14px;
}
.x-form-trigger-wrap,.x-form-text{
  font-size: 14px;
}
@media (min-width: 980px) {
  body {
      font-size: 14px;
  }
} 
  
@media (min-width: 980px) {
  table {
      font-size: 14px;
  }
}

@media (min-width: 980px) {
  .btnButton4font,
  .btnButton6font,
  .btnButton8font,
  .btnButton10font {
      font-size: 14px;
  }
}
select{
  font-size: 13px;
  padding: 0;
}

.Public_tag ul li .tag_center{
  font-size:14px;
}

.ztree li span{ font-size: 14px; padding: 10px 0; }