body { 
  font-size: 16px;   
}
table {
  font-size: 16px; 
}
.btnButton4font,
.btnButton6font,
.btnButton8font,
.btnButton10font {
  font-size: 16px; 
  line-height: 34px;
}

.Pagebar .page #pager a {
   font-size: 16px; 
}
input,textarea,button{
  font-size: 16px;
}
.Pagebar .page #pagebtn input{
  width: 34px; 
}
.selectlist option{
  font-size: 16px;
}
.x-form-item, .x-form-field{
  font-size: 16px;
}
input.inputText,.inputText:hover{
  font-size: 16px;
}
input.inputTextPrompt,input.inputTextPrompt:hover{
  font-size: 16px;
}
.Wdate.whir_datebox{
  font-size: 13px;
}
.ztree *{
  font-size: 16px;
}
.x-form-item,.x-form-field{
  font-size: 16px;
}
.x-form-trigger-wrap,.x-form-text{
  font-size: 16px;
}
@media (min-width: 980px) {
  body {
    font-size: 16px;
  }
} 
  
@media (min-width: 980px) {
  table {
    font-size: 16px;
  }
}

@media (min-width: 980px) {
  .btnButton4font,
  .btnButton6font,
  .btnButton8font,
  .btnButton10font {
    font-size: 16px;
  }
}

#searchTable .SearchBar td, .SearchBar td, #searchTable .SearchBar th, .SearchBar th{padding:3px 6px;}
select{
  font-size: 13px;
  padding: 0;
}

.Public_tag ul li .tag_center{
  font-size:16px;
}

.ztree li span{ font-size: 16px; /* padding: 5px 0; */ }

.Public_tag.Public_tag_all ul li span.tag_center{ padding: 0 16px;}