#docinfo0 td, .inputTextsw, .Wdate.whir_datebox, .sw, .htmleditor p, .cls-ui, select, .tagit-choice, textarea,.combo .combo-text {
    font-family: FangSong_GB2312 !important;
    font-size: 14px !important;
}
.STYLE1, .STYLE1 font, .STYLE1 text, .STYLE1 textarea{
    font-family: FangSong_GB2312 !important;
    font-size: 14px !important;
}